/* ALL CREDIT TO CMDR EXIGIOUS AND CMDR METSYS FOR THIS OVERLAY. */
/* THEY DID MOST OF THE WORK, I JUST WANTED TO MODIFY THE COLORS. */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');

.custom.controller {
    width: 1900px;
    height: 360px;
    font-family: 'Rajdhani', sans-serif;
}

.custom .bumper.pressed:after, .custom .button.pressed:after{
    background: #ff6600;
    color: #000000;
    border-color: black;
    transition: none
}

.custom .stick{
    width: 20px;
    height: 20px;
    background: #03b2e1;
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.custom .bumper:after, .custom .button:after{
    position: absolute;
    display: inline-block;
    background: black;
    border: 2px solid #ff6600;
    color: #03b2e1;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    white-space: nowrap;
    transition: 1s all linear
}

/* - END COMMON STUFF - */

.custom .sticks{
    width: 135px;
    height: 135px;
    display: inline-block;
    position: relative;
    background: black;
    border: 2px solid #ff6600;
    border-radius: 15px;
    background-image: linear-gradient(0deg, transparent 48%, #742e00 49%, #742e00 50%, #742e00 51%, transparent 52%, transparent), linear-gradient(90deg, transparent 48%, #742e00 49%, #742e00 50%, #742e00 51%, transparent 52%, transparent);
    top: calc(42px);
    background-size: calc(100% - 15px) 100%, 100% calc(100% - 15px);
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px
}


.custom .triggers{
    width: 20px;
    height: 135px;
    display: inline-block;
    background: black;
    position: relative;
    border: 2px solid #ff6600;
    border-radius: 20px;
    background-image: linear-gradient(0deg, transparent 48%, #742e00 49%, #742e00 50%, #742e00 51%, transparent 52%, transparent);
    background-size: calc(100% - 10px) 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px
}

.custom .triggers:after{
    content: "THROTTLE";
    display: inline-block;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #03b2e1;
    top: 50%;
    right: calc(-170%);
    transform-origin: center;
    transform: translateY(-50%) rotate(-90deg);
}

.custom .sticks:before{
    content: "LATERAL";
    display: inline-block;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #03b2e1;
    top: -1em;
    left: 50%;
    transform: translateX(-50%);
}



.custom .sticks:after{
    content: "VERTICAL";
    display: inline-block;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #03b2e1;
    top: 50%;
    right: calc(-30% - .4em);
    transform-origin: center;
    transform: translateY(-50%) rotate(-90deg);
}

.custom .stick.left{
    top: 50%;
    left: 50%;
}

.custom .stick.right{
    top: calc(-120px);
    left: 15px;
}

.custom .bumpers{
    position: absolute;
    top: 0;
    left: 0;
}

.custom .abxy{
    position: absolute;
    top: 0;
    left: 0;
}

.custom .button.a:after{
    content: "BOOST";
    left: 68px;
    width: 51px;
}

.custom .button.b:after{
    content: "FA";
    left: 68px;
    top: 40px;
    width: 51px;
}

.custom .button.x:after{
    content: "JUMP";
    left: 68px;
    top: 80px;
    width: 51px;
}

.custom .button.y:after{
    content: "SILENT";
    left: 68px;
    top: 120px;
    width: 51px;
}

/* FA Button when set to off */
.custom .button.b.pressed:after{
    content: "FA OFF";
}